/* Font sizes */
$h1-fontsize: 40px;

/* Screen widths */
$large-desktop: 1400px;
$desktop-width: 1000px;
$tablet-width: 600px;
$large-phone: 450px;
$medium-phone: 400px;


/* Colors */
$poddsok-color: #301934;