@import './_variables.scss';

body {
	margin: 0;
	font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	background-color: white;
}

h1 {
	font-size: $h1-fontsize;
	margin-block-start: 0;
	margin-block-end: 0;
}

code {
	font-family: menlo, inconsolata, monospace;
	font-size: 20px;
	color: #555;
	background-color: #f0f0f0;
	padding: 10px;
	border-radius: 2px;
}
